
html, body {
    width: 100%;
    height: 100%;
}

/* login page */
.login {
	display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/assets/images/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.loginBox {
	margin: 0 auto;
    width: 35%
}

.loginBox #loginForm {
 	background: rgba(0, 0, 0, 0.1);
  	margin: 2em auto;
  	overflow: hidden;
  	position: relative;
}

.loginBox #loginForm .heading {
    background: rgba(248, 95, 100, 0.5);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5em;
}

.loginBox #loginForm .content {
	padding: 40px;
}

.loginBox #loginForm .content .loginBtn {
	text-align: center;
}

.loginBox #loginForm .content .socialLogin{
	width: 40px;
	margin-right: 5px;
}

.loginBox #loginForm .content hr {
	margin-left: -15px;
    margin-right: -15px;
}

@media (max-width: 768px) {
	.loginBox {
		width: 50%
	}
}

@media (max-width: 484px) {
	.loginBox {
		width: 80%
	}
}

/* main page */
.main {
	display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(/assets/images/bg4.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.main .content {
	width: 100%;
	min-height: 577px;
	margin-top: 90px;
	/* background: #313E46;
    opacity: .8; */
}

.navbar-custom {
    margin-bottom: 0;
    /* border-bottom: 1px solid rgba(255,255,255,.3); */
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #1D94B7;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom a {
    color: #fff;
}

.fa {
	color: white;
}

.fa-black {
	color: black;
}

.main-content {
	padding: 20px;
}

.block {
	height: 100%;
	margin: 0px;
	padding: 20px;
	border-radius: 10px;
    background: aliceblue;
}

.inner-block {
	height: 100%;
	margin: 0px;
	padding: 20px;
}

.usr-img {
    height: 200px;
    width: 50%;
    margin: 0 auto;
}

.file-upload-btn {
    width: 50%;
    margin: 0 auto;
}

.img-responsive {
	width: 100%;
    height: 100%;
    border-radius: 100%;
}

.usr-info {
	text-align: center;
    padding: 10px;
}

.info-heading {
	font-weight: bold;
    font-size: 18px;
}

.info-content {
	
}

.editBtn {
	margin: 0px;
	padding: 7px;
	height: 10%;
}

.edit-usr-info {
	text-align: initial;
}

.myRadio {
	padding-top: 0px !important;
}

/* custom dropdown start */
.custom-dropdown {
	position: relative;
}

.custom-dropdown .options {
	border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    margin-top: -6px;
    background-color: #ffffff;
    width:100%;
}

.custom-dropdown .search-box {
	margin-bottom: 4px;
}

.custom-dropdown .options .option-row{
	padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    clear: both;
}

.custom-dropdown .options .option-row:hover {
	background: lightblue;
}
/* custom dropdown end */

.tags {
	float: left;
    padding: 10px;
    background: #D8E9EF;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.tags .remove {
	color: #1D94B7;
    cursor: pointer;
}

.mgt-10 {
	margin-top: 10px;
}

@media (min-width: 768px){
	.navbar-custom {
	    padding: 20px 0;
	    border-bottom: 0;
	    letter-spacing: 1px;
	    /* background: 0 0; */
	    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
	    transition: background .5s ease-in-out,padding .5s ease-in-out;
	}
}

@media (min-width: 992px){
	.inner-block:not(:first-child){
	  border-left:1px solid #E6E6E6;
	}
}

@media (max-width: 768px){
	.main .content {
		margin-top: 57px;
	}
}

/* find an expert page */
.search-banner {
	font-size: 20px;
	color: #1D94B7;
}

.custom-btn {
	background-color: #1D94B7;
	border-color: #1D94B7;
}

.search-btn {
	width: 100%;
}

.search-content {
	margin-top: 20px;
	min-height: 300px;
}

.search-results {
	
}

.search-results-row {
	padding: 35px;
	border-bottom: 1px solid #E6E6E6;
}

.usr-img-search {
	width: 50%;
    margin: 0 auto;	
}

.search-usr .name {
	font-size: 20px;
}

@media (max-width: 1200px){
	.usr-img-search {
		width: 75%;
	}
}

@media (max-width: 992px){
	.usr-img-search {
		width: 100%;
	}
}

@media (max-width: 768px){
	.usr-img-search {
		width: 25%;
	}
	
	.search-usr {
		text-align: center;
		margin-top: 15px;
	}
	
	.search-usr .name {
		font-size: 15px;
	}
}

/* message details */
#message-details .heading {
	padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid;
}

#message-details .message-list {
	padding: 10px;
}

#message-details .send-message {
	padding: 10px;
	border-top: 1px solid;
}

#message-details li {
	padding: 15px;
}

#message-details li:not(:last-child) {
	border-bottom: 1px solid #E6E6E6;
}

#message-details .text-align-right {
	text-align: right;
}

#message-details .msg-timestamp {
	font-size: 10px;
    color: #E6E6E6;
}

@media (max-width: 768px){
	#message-details .usr-img-search-left {
		float: left;
	}
	
	#message-details .usr-img-search-right {
		float: right;
	}
}